.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
AssetsGen/*/*.json
AssetsGen/*/*.pyc
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
